@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="button" value="Create" onclick="location.href='@Url.Action("GetFormList", "Home")'" />
    <button type="button" onclick="location.href='@Url.Action("GetFormList", "Home")'" />
    @*@Html.Action("GetFormList", "Home")*@
    <%= Html.Action("GetFormList", new { path = "a" })%>
</div>
